﻿/* tag.css: Small framework of css.
author: M. López
version: 1.0 2020-12-10 */

/* Reseteamos parte de los estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {            
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 320px;    
}

/* Contenedor general centrado. También puede incluirse dentro de sí mismo */
.container {    
    width: 98.5%;
    margin: 0.25em auto;
}

/* Contenedor para elementos flexibles con wrap */
.flex-box {
    display: flex;    
    flex-flow: row wrap;
    align-items: center;
}

.fb-column {flex-direction: column; }
.fb-nowrap { flex-flow: row nowrap; } /* Elementos flexibles sin wrap */
.fb-jc-start { justify-content: flex-start; }
.fb-jc-center { justify-content: center; }
.fb-jc-end { justify-content: flex-end; }
.fb-jc-space-between { justify-content: space-between; } /* Elementos separados por el mismo espacio entre ellos */
.fb-jc-space-around { justify-content: space-around; }
.fb-ai-baseline { align-items: baseline; } /* Alinea los elementos a la línea base */
.fb-ai-start { align-items: flex-start; }
.fb-ai-center {align-items: center; }
.fb-ai-end { align-items: flex-end; }

a { /* Estilo por defecto para los enlaces */
    text-decoration: none; /* Por defecto no subrayados */    
    cursor: pointer;
}

a:hover { text-decoration: underline; } /* Subrayados al pasar sobre los enlaces */

/* Listas sin viñetas */
.ls-none { list-style: none; }

/*  Estilos para alineación de texto */
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.taj { text-align: justify; }
blockquote { margin-left: 2em; }

/* Nivel de identación estándar */
.ind { margin-left: 1em; }

/* Para ocultar elementos manteniendo el espacio ocupado por su caja */
.hidden { visibility: hidden; }

/* Para ocultar elementos totalmente */
.display-none { display: none; }

/* Borde sólido */
.border { border: 1px solid black; }

/* Padding estándar */
.padding { padding: 0.5em; }
.padding-sm { padding: 0.25em; }
.padding-lg { padding: 1em; }

/* Margen estándar */
.margin { margin: 0.5em; }
.margin-sm { margin: 0.25em; }
.margin-lg { margin: 1em; }

/* Margen horizontal más grande */
.margin-x {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.margin-x-sm {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.margin-x-lg {
    margin-left: 1em;
    margin-right: 1em;
}

/* Margen vertical más grande */
.margin-y {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.margin-y-sm {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.margin-y-lg {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Márgen y padding estándar en una sola regla */
.box {
    padding: 0.5em;
    margin: 0.5em;
}

.box-sm {
    padding: 0.25em;
    margin: 0.25em;
}

.box-lg {
    padding: 1em;
    margin: 1em;
}

/*  Estilos para que los enlaces se vean como botones.
    También se puede aplicar a un botón.
*/
.btn-acept, .btn-danger, .btn-warn, .btn-edit, .btn-info, .btn-std {
    display: inline-block;
    padding: 0.5em;    
    margin: 0.5em;
    font-size: 1em;
    font-weight: bold;  
    color: white;
    cursor: pointer;    
    border: 2px outset gray;
    font-family: inherit;
    text-decoration: none;
}
.btn-acept { background-color: green; }
.btn-danger { background-color: red; }
.btn-warn { background-color: orange; }
.btn-edit { background-color: gray; }
.btn-info { background-color: blue; }
.btn-std {	background-color: rgba(0, 94, 181, 1); }

/* Pequeña sombra */
.shadow { box-shadow: 5px 5px 10px black; }

/* Cursor de mano */
.hand {
	cursor: pointer;
}

/* Para dar sensación de pulsación */
.active:active { opacity: 0.75; }

/* Estilos para formularios */ 
form label { 
    font-weight: bold; 
} 

/* Insertamos un salto de línea antes y después de las etiquetas */ 
form label::before, 
form label::after { 
    content: '\A'; 
    white-space: pre; 
} 

/* Un poco de padding para los controles y un pequeño margen inferior */ 
form input, form select, form textarea { 
    padding: 0.25em; 
    margin-bottom: 0.5em; 
} 

/* Quitamos el salto de línea antes de las 
label de los input de tipo checkbox y radio */ 
form input[type="checkbox"] + label::before, 
form input[type="radio"] + label::before { 
    content: ''; 
    white-space: pre; 
}

/* Definimos formato para tablas */
table {
    border-collapse: collapse;    
    margin: auto;    
}

tr:nth-child(even) { background-color: rgba(192, 192, 192, 0.205); } /* Formato de filas pares */

th, td {    
    border: 1px solid black;    
    padding: 0.5em;
    text-align: left;
}

tr:hover > td {
    background-color: rgba(51, 255, 0, 0.151);
} /* Color de fondo al pasar sobre una fila */

/* Estilo para tablas sin bordes ni bandas, estando las cabeceras
alineadas a la izquierda y los campos a la izquierda. Pensado
para diseñar formularios con tablas */
.table-flat tr:nth-child(even) {
    background-color: transparent;
}

.table-flat tr:hover > td {
    background-color: transparent;
} /* Color de fondo al pasar sobre una fila */

.table-flat th, .table-flat td {
    border: none;
}

.table-flat th {
    text-align: right;
}

.table-flat td {
    text-align: left;
}

/* Estilos para menús */
nav ul {    
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;    
    display: inline-block;    
    margin: 0.25em;
}

nav ul li a {
    display: block;
    padding: 0.25em;    
    font-weight: bold;
}

nav ul li ul { /* Para que inicialmente no se muestre el menú de opciones */
    position: absolute;
    display: none;            
}

nav, nav ul li ul li { /* Mostrar las opciones de menú verticalmente */
    display: block;        
}

nav ul li:hover > ul {
    display: block;    
} /* Opciones de menú al pasar el ratón */

/* Clase para mostrar mensajes */
.msg {
    width: 70%;
    margin: 0.25em auto;    
}

/* Estilos para mensajes de error o de éxito */
.error, .success {    
    background-color: lightyellow;
    padding: 0.5em;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    font-weight: bold;
    display: block;
}

.error {
    color: red;
}

.success {
    color: green;
}

.disp-none { display: none; } /* Para ocultar elementos sin mantener la caja */

/* Colores */
.bgc-red { background-color: red; }
.bgc-green { background-color: green; }
.bgc-blue { background-color: blue; }
.bgc-white { background-color: white; }
.bgc-black { background-color: black; }
.bgc-yellow { background-color: yellow; }
.bgc-gray { background-color: gray; }
.bgc-orange { background-color: orange; }
.bgc-lightblue { background-color: lightblue;}
.bgc-std { background-color: rgba(0, 94, 181, 1);}

.color-red { color: red; }
.color-green { color: green; }
.color-blue { color: blue; }
.color-white { color: white; }
.color-black { color: black; }
.color-yellow { color: yellow; }
.color-gray { color: gray; }
.color-orange { color: orange; }
.color-lightblue { color: lightblue;}
.color-std { color: rgba(0, 94, 181, 1);}

/* Tamaños de fuente en 'em' */
.fs-080 { font-size: 0.80em; }
.fs-090 { font-size: 0.90em; }
.fs-100 { font-size: 1.00em; }
.fs-110 { font-size: 1.10em; }
.fs-120 { font-size: 1.20em; }
.fs-130 { font-size: 1.30em; }
.fs-140 { font-size: 1.40em; }

.bold { font-weight: bold; } /* Fuente gruesa */

/* Número exacto de columnas que ocupará un elemento */
.col-1 { width: 8.333%; }
.col-2 { width: 16.666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.333%; }
.col-5 { width: 41.666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333%; }
.col-8 { width: 66.666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.666%; }
.col-12 {width: 100%; }

.center {
    margin-left: auto;
    margin-right: auto;
}

.block { display: block; }

.iblock { /* Para convertir elementos de bloque a elementos de bloque en línea */
     display: inline-block;
     width: auto;
}

/* Media queries para ver bien las páginas en todos los dispositivos */
@media (min-width: 1921px) {
    body { font-size: 18px; }
}

@media (max-width: 1920px) {
    body { font-size: 17px; }
}

@media (max-width: 1366px) {
    body { font-size: 16px; }
}

@media (max-width: 1024px) {
    body { font-size: 15px; }
}

@media (max-width: 768px) {
    body { font-size: 15px; }
}

@media (max-width: 360px) {
    body { font-size: 14px; }
}
